@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}
p {
  line-height: 1.6;
  font-size: 16px;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/* Header(navigation) Start*/
.propertyheader {
  background-image: url(/static/media/banner.e9602b4e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.9s;
  max-height: 100%;
  height: 50vh;
}
.header h1 {
  text-transform: capitalize;
  color: #000;
  font-size: 50px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  position: absolute;
}
/* scrolltop section starts */
.scrolltop {
  background: rgba(0, 0, 0, 0.6);
  transition: 0.9s;
}
/* scrolltop section ends */
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.9s;
  z-index: 999;
}
.nav span {
  margin-left: 20px;
}
#logo {
  padding: 20px;
}
#logo a img {
  width: 119px;
}
/* logo section or left part of navigation ends */

/* navigation list also middle part of navigation starts */
.list ul {
  list-style: none;
}
.list ul li {
  display: inline-block;
  padding: 10px;
  transition: 0.9s;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 17.6px;
  font-weight: 600;
}
.list ul li:hover {
  border-bottom: 3px solid #00baeb;
  border-top: 3px solid #00baeb;
  border-radius: 15px;
  color: #00baeb;
}
.list ul li a {
  text-decoration: none;
  color: #fff;
}
/* for navigation active section start */
.active-nav {
  border-bottom: 3px solid #00baeb;
  padding: 9.5px 10px;
  transform: 0.9s;
}
.active-nav:hover {
  border-bottom: 3px solid #00baeb;
  border-radius: 4px;
}
/* for navigation active section ends */
/* navigation list also middle part of navigation ends */

/* right part ofnavigation starts */
.nav-right {
  display: flex;
  margin: 20px;
}
/* login section starts */

/* login icon starts */
.login-icon button {
  border: none;
  background: transparent;
  font-size: 40px;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 30px;
  color: #fff;
}
/* login icon ends */

/* login details like background,input,buttons starts */
/* login background starts */
#login-background {
  background: #f7f7f7;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px -280px;
  position: absolute;
  display: none;
}
#login-background:after {
  content: "";
  border: 5px solid #fff;
  position: absolute;
  top: -16px;
  right: 0px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent #f7f7f7 #f7f7f7 transparent;
}
#login-background h2 {
  font-size: 18px;
  margin: 20px;
}
/* login background ends */

/* login input section starts */
.user-password input {
  width: 90%;
  height: auto;
  max-height: 50px;
  margin: 2% 5%;
  padding: 20px;
  font-size: 16px;
  line-height: 2.5;
  border: 1px solid#ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.user-password input:focus {
  box-shadow: none;
  border-color: #2eca6a;
}
/* login input section starts */

/* login button of navigation for login starts */
.login-btn button {
  background: #09de8b;
  border: 2px solid #09de8b;
  color: #fff;
  width: 80px;
  height: 40px;
  padding: 10px;
  margin-left: 20px;
  font-weight: 600;
  transition: 0.9s;
}
.login-btn button:hover {
  background: transparent;
  color: #09de8b;
  border-radius: 15px;
}
/* login button of navigation for login ends */

/* forgot password section starts */
.forgot-password {
  text-align: center;
  margin-top: 2%;
}
.forgot-password h3 a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
/* forgot password section ends */

/* new regirstration section starts */
.register {
  text-align: center;
  margin-bottom: 8%;
}
.register h4 a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
/* new regirstration section Ends */

/* register background starts */
#register {
  display: none;
}
#register-background {
  background: #f7f7f7;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px -280px;
  position: absolute;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
#register-background:after {
  content: "";
  border: 5px solid #fff;
  position: absolute;
  top: -16px;
  right: 0px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent #f7f7f7 #f7f7f7 transparent;
}
#register-background h2 {
  font-size: 18px;
  margin: 20px;
}
/* register background ends */

/* register input section starts */
.user-register input {
  width: 90%;
  height: auto;
  max-height: 50px;
  margin: 2% 5%;
  padding: 20px;
  font-size: 16px;
  line-height: 2.5;
  border: 1px solid#ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.user-register input:focus {
  box-shadow: none;
  border-color: #2eca6a;
}
/* register input section starts */

/* register button of navigation for login starts */
.register-btn button {
  background: #09de8b;
  border: 2px solid #09de8b;
  color: #fff;
  width: 80px;
  height: 40px;
  padding: 10px;
  margin-left: 20px;
  font-weight: 600;
  transition: 0.9s;
}
.register-btn button:hover {
  background: transparent;
  color: #09de8b;
  border-radius: 15px;
}
/* register button of navigation for login ends */
/* login details like background,input,buttons starts */
/* login section ends */

/* login button of navigation for login starts */
.register-btn button {
  background: #09de8b;
  border: 2px solid #09de8b;
  color: #fff;
  width: 80px;
  height: 40px;
  padding: 10px;
  margin-left: 20px;
  font-weight: 600;
  transition: 0.9s;
}
.register-btn button:hover {
  background: transparent;
  color: #09de8b;
  border-radius: 15px;
}
/* login button of navigation for login ends */

/* new regirstration section starts */
.login_page {
  margin-top: 5%;
  margin-bottom: 8%;
  text-align: center;
}
.login_page h4 a {
  font-size: 15px;
  font-weight: 500;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
/* new regirstration section starts */

/* register details like background,input,buttons starts */
/* register section ends */

/* search section starts */
.search {
  background: #24f6a4;
  border: 2px solid #24f6a4;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 11px;
  color: #fff;
  transition: 0.9s;
}
.search:hover {
  background: #fff;
  color: #00baeb;
  border: 2px solid #00baeb;
  border-radius: 15px;
}
/* form for more detailed search of propert starts */
#form-a {
  background-color: #fff;
  width: 0%;
  height: 100%;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 100px;
}
.search-header {
  display: flex;
  justify-content: space-between;
  margin: 3% 8%;
  font-weight: 600;
  font-size: 25px;
}
.search-header h2:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #2eca6a;
  top: 75px;
  left: 55px;
}
.search-header a {
  font-size: 30px;
  padding: 10px 15px;

  text-decoration: none;
  color: #000;
}

.form-keyword {
  margin: 0% 8% 4% 8%;
}
.form-details {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5%;
  margin: 4% 8% 4% 8%;
}
/* search property input and its label starts */
#form-a label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#form-a input {
  display: block;
  width: 100%;
  height: auto;
  max-height: 56px;
  margin: 2% 0%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 2.5;
  border: 1px solid#ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#form-a input:focus {
  box-shadow: none;
  border-color: #2eca6a;
}
/* search property input and its label starts */

/* styling of select tag used for choosing diffrent options starts */
#form-a select {
  display: block;
  width: 100%;
  height: 56px;
  margin: 2% 0%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 2.5;
  border: 1px solid#ced4da;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#form-a select:focus {
  box-shadow: none;
  border-color: #2eca6a;
}
/* styling of select tag used for choosing diffrent options ends */

/* form submit button for find desired property starts */
.form-button {
  background-color: #2eca6a;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin: 4% 8% 4% 8%;
  padding: 20px 48px;
  transition: 0.5s;
}
.form-button:hover {
  background-color: #000000;
  color: #ffffff;
}
/* form submit button for find desired property ends */
/* form for more detailed search of propert ends */
/* search section ends */

/* right part ofnavigation starts */
/* respnsive navgation start */
/* open slide button css start */
.open-slide {
  display: none;
  margin-top: 35px;
  padding-left: 20px;
}
.open-slide a {
  color: #fff;
  font-size: 30px;
}
/* open slide button css start */

/* once button is pressed backgroudn appears from left and this is the start of the background */
#side-menu {
  display: none;
  background: #fff;
  width: 50%;
  height: 100%;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
/* border item at the left and right side of the menu start */
#side-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  overflow: hidden;
  border-right: 3px solid #2eca6a;
  transition: 0.9s;
  margin: 0px;
  z-index: 1000;
}
#side-menu:hover:before {
  height: 100%;
}
#side-menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0%;
  overflow: hidden;
  border-right: 3px solid #2eca6a;
  transition: 0.9s;
  z-index: 999;
}
#side-menu:hover:after {
  height: 100%;
}
/* border item at the left and right side of the menu end */

/* side navigation login ends */
/* login and cross icon css start */
.login-cross {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.side_nav-login {
  font-size: 40px;
}
.cross {
  margin-top: 7px;
}
.cross a {
  color: #000;
  font-size: 50px;
}
.side_nav-logo {
  background: rgba(0, 0, 0, 0.6);
  padding-left: 40%;
}
.side_nav-right {
  display: flex;
  margin: 18px;
}
.login a {
  font-size: 40px;
  text-decoration: none;
  margin-right: 30px;
  color: #fff;
}
/* side navigation login background css starts */
#side_nav-login-background {
  background: #f7f7f7;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 450px;
  margin: 60px -38px;
  position: absolute;
  z-index: 999;
  display: none;
}
#side_nav-login-background:before {
  content: "";
  border: 5px solid #fff;
  position: absolute;
  top: -35px;
  left: 45px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent #f7f7f7 transparent;
}
/* side navigation login background css ends */
/* side navigation login ends */
#side_nav-login-background h2 {
  font-size: 18px;
  margin: 20px;
}
/* side navgation lists starts */
.side_nav-list ul {
  list-style: none;
}
.side_nav-list ul li {
  padding: 10px;
  transition: 0.9s;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 17.6px;
  font-weight: 600;
}
.side_nav-list ul li:hover {
  margin-top: 20px;
  margin-left: 0px;
}
.side_nav-list ul li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 0%;
  margin-top: 40px;
  border-bottom: 3px solid #2eca6a;
  overflow: hidden;
  transition: 0.9s;
}
.side_nav-list ul li:hover:after {
  width: 100%;
}
.side_nav-list ul li a {
  text-decoration: none;
  color: #000;
}
.side_nav-list ul li:hover a {
  color: #ff1d3e;
}
/* side navgation lists ends */

/* active side navigation starts */
.active-side_nav {
  color: #ff1d3e !important;
}
.side_nav-property {
  margin-top: 20px !important;
  margin-left: 0px !important;
}
.active-side_nav:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 3px solid #2eca6a;
  overflow: hidden;
  margin-top: -20px;
  transition: 0.9s;
}
.active-side_nav:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100% !important;
  margin-top: 40px;
  border-bottom: 3px solid #2eca6a;
  overflow: hidden;
  transition: 0.9s;
}
/* active side navigation ends */

/*Header(navigation) End*/

/*Recent Properties Start*/
.recent-properties {
  font-family: "Helvetica", Arial, sans-serif;
  width: 100%;
  margin-top: 50px;
}
.recent-properties .rp-title {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.recent-properties .rp-description {
  font-size: 15px;
  text-align: center;
  color: #808080;
}
.card-image {
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  max-width: 768px;
  max-height: 247px;
  min-height: 245px !important;
  overflow: hidden;
  transition: all 1.5s ease;
}
.properties-detail {
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 280px;
  margin-top: -3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  overflow: auto;
  margin-bottom: 5%;
}
.properties-detail h3 {
  line-height: 15px;
  font-size: 19px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  padding: 30px 25px;
}
.properties-detail p {
  color: #808080;
  font-size: 15px;
  padding: 5px 25px;
}
.recent-properties .row .col-md-3:hover img {
  transform: scale(1.5);
}
.recent-properties .row .col-md-3 .card-image {
  position: relative;
}
.recent-properties .row .col-md-3 .card-image .card-image_hover {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.recent-properties .row .col-md-3 .card-image .card-image_hover a {
  display: none;
  position: absolute;
  top: 38%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}
.recent-properties .row .col-md-3 .card-image:hover .card-image_hover {
  background-color: rgba(46, 202, 106, 0.5);
}
.recent-properties .row .col-md-3 .card-image:hover .card-image_hover a {
  display: block;
  opacity: initial !important;
}
.recent-properties .row .col-md-3 .card-image .card-image_hover a:hover {
  background: #fff;
  color: #1ea69a;
}
.properties-room {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 30px;
}
.properties-room span {
  font-weight: 600;
  font-size: 13px;
}
.properties-room svg {
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
  width: 34px;
}
.properties-unit {
  font-size: 15px;
  background: transparent;
  color: #808080;
  font-weight: 400;
}
.properties-price {
  font-size: 13px;
  font-weight: 700;
  margin-top: 20px;
  padding: 5px 25px;
}
.properties-price span {
  font-size: 22px;
  color: #1ea69a;
  font-weight: 500;
  margin: 0;
  line-height: 40px;
}
.owl-dots {
  text-align: center !important;
}
.owl-nav {
  text-align: center !important;
}
.owl-prev {
  margin: 5px 10px !important;
}
.owl-next {
  margin: 5px 5px !important;
}
.owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6 !important;
  display: block;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-dots .owl-dot:hover span {
  background: #869791 !important;
}
.owl-dot.active span,
.owl-dot:hover span {
  background: #869791 !important;
}

/*Recent Properties End*/

/*Footer Start*/
footer {
  background-color: #303030;
  position: relative;
  height: 100%;
  margin-top: 80px;
  font-family: "Helvetica", Arial, Sans-serif;
}
.footer_top {
  display: flex;
  justify-content: space-between;
}
.footer_logo img {
  margin-top: 20px;
}
.footer_logo p {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  display: inline-block;
}
.list_media ul {
  list-style: none;
}
.list_media ul li {
  display: inline-block;
  padding: 44px 4px;
}
.list_media ul li a {
  text-decoration: none;
  color: #808080;
}
.footer_middle {
  display: flex;
  justify-content: space-between;
}
.list_navbar ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 100px;
  list-style: none;
}
.list_navbar ul li {
  display: inline-block;
}
.list_navbar ul li:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.3rem;
  border: 5px solid transparent;
  border-left-color: transparent;
  border-left-color: #808080;
}
.list_navbar ul li a {
  text-decoration: none;
  color: #808080;
}
.footer_address {
  position: relative;
  color: #808080;
  line-height: 30px;
  max-width: 250px;
}
.footer_address p {
  line-height: 30px;
  padding: 10px 0px;
  padding-left: 30px;
  font-family: "Helvetica", Arial, sans-serif;
}
.footer_location:before {
  content: "\f041";
  font-family: FontAwesome;
  font-size: 30px;
  margin-top: 15px;
  position: absolute;
}
.footer_number:before {
  content: "\f095";
  font-family: FontAwesome;
  font-size: 25px;
  margin-top: 10px;
  position: absolute;
}
.footer_sales:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 25px;
  margin-top: 10px;
  position: absolute;
}
.footer_newsletter h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  color: #fff;
}
.footer_newsletter .email_address {
  font-size: 16px;
  min-height: 22.5px;
  width: 100%;
  max-width: 355.933px;
  min-width: 355.933px;
  padding: 1rem;
  border: none;
}
.button_one {
  padding: 15px 0px;
}
.button_one input:hover {
  background: #c5653a;
  transition: 0.9s;
}
.button_one input {
  color: #fff;
  border: 2px solid #ea723d;
  background: #ea723d;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 20px;
  text-align: center;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  color: #808080;
  padding-top: 70px;
}
/*Footer End*/
