@media (max-width: 1200px) {
  .list ul li {
    margin-left: 40px !important;
  }
  #blog {
    margin-top: 15% !important;
    margin-bottom: 3%;
  }
  .content-right {
    margin: 1%;
  }
}

@media (max-width: 1146px) {
  .list ul li {
    padding-left: 1px !important;
  }
}

@media (max-width: 1094px) {
  .open-slide {
    display: block !important;
  }
  .list {
    display: none;
  }
  #login {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  .content {
    display: initial !important;
  }
  .content-left {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .content-right {
    width: 90% !important;
    margin: 5%;
  }
  .agent-right {
    display: none;
  }
  .featured-right h3 {
    font-size: 40px;
    text-align: center;
  }
  .featured-right .row {
    display: grid;
    grid-template-columns: auto auto !important;
    grid-gap: 110px 20px !important;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (max-width: 950px) {
  .list ul li {
    margin-left: 25px !important;
  }
}
@media (max-width: 900px) {
  .footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh !important;
  }
  .footer_top {
    display: initial !important;
  }
  .footer_logo {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .footer_logo span p {
    text-align: center;
    margin-top: 70px;
    padding-left: 70px;
  }
  .footer_middle {
    display: initial !important;
  }
  .list_media ul li a {
    margin-top: 30px;
    margin-left: 20px;
  }
  .list_navbar ul {
    margin-left: 50px;
  }
  .footer_address {
    max-width: 480px !important;
    text-align: center;
    margin-top: 50px;
  }
  .footer_location:before {
    position: relative !important;
  }
  .footer_number:before {
    position: relative !important;
  }
  .footer_sales:before {
    position: relative !important;
  }
  .footer_newsletter h2 {
    text-align: center;
  }
  .footer_newsletter input {
    margin-left: 10%;
  }
  .footer_newsletter .button_one {
    margin-left: 33%;
  }
}
@media (max-width: 853px) {
  .search-header h2:after {
    display: none;
  }
}
@media (max-width: 768px) {
  .featured-right .row {
    display: initial !important;
    margin-left: 1%;
    margin-right: 1%;
  }
  .featured-right .row .col-md-3 {
    padding: 20px;
  }
  .featured-right .row .col-md-3 .card-image .card-image_hover a {
    left: 40% !important;
  }
}
@media (max-width: 650px) {
  #blog {
    margin-top: 25% !important;
  }
  #blog h2 {
    text-align: center;
  }
  .agent-right {
    display: block !important;
  }
  .featured-right h3 {
    font-size: 15px;
    text-align: left;
  }
}
@media (max-width: 458px) {
  .featured-right {
    margin-top: 100px !important;
  }
  .featured-right .row .col-md-3 .card-image .card-image_hover a {
    left: 32% !important;
  }
}
@media (max-width: 400px) {
  #blog {
    margin-top: 40% !important;
  }
  .side_nav-logo {
    padding-left: 30% !important;
  }
  .list_navbar ul {
    display: none !important;
  }
  .list_media ul {
    display: none;
  }
  .footer_newsletter .email_address {
    width: 80% !important;
    min-width: 80% !important;
  }
}
